
[Unit]
Description=Save all running libvirt guests of user %I on hibernate
Before=hibernate.target

[Service]
User=%I
ENVIRONMENT=LIBVIRT_SAVE_PATH=/home/%I/.cache/libvirt/saved
ExecStart=/usr/bin/hibernate-libvirt-guests.sh hibernate
ExecStop=/usr/bin/hibernate-libvirt-guests.sh resume

[Install]
WantedBy=hibernate.target
